#app {
  width: 100vw;
}

.main-heading {
  color: black;
  text-align: center;
}

.tab-items-wrapper {
  border: 1px solid black;
  margin: 1rem;
  padding: 0.5rem;

  .close-btn {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(25, 24, 24);
  }
}
